<div class="container-fluid" id="login-view" ng-controller="forgotPassController">
    <div class="container" id="login-body">
        <div class="row">
            <div class=" col-md-offset-2 col-lg-4">
                <h2> Forgot Password ? </h2> <br/>
                <div class="form-box">
                    <form role="form" class="form" name="hiShoppieForgotpassForm" ng-submit="checkForgotPass()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : hiShoppieForgotpassForm.email.$invalid && (hiShoppieForgotpassForm.email.$dirty || submitted) }">
                            <div class="input-group">
                                <label for="email" class="control-label pull-left">Email</label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                                <input type="email" class="form-control" id="email" ng-model="forgotPass.email" name="email" ng-required="true">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div id="error-msg" class="alert alert-error hide"> Invalid email </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success pull-right" ng-disabled="hiShoppieForgotpassForm.$invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1">
                <div class="hr">&nbsp;</div> 
            </div>
            <div class="col-md-5 information">
                <div class="text-left" >
                    <p class="lead"> Don't have an Account ? </p>
                    <ul class="list-unstyled pull-left" style="line-height: 2">
                        <li>
                            <p><a href='#signup' class='btn btn-info btn-block'> &nbsp; &nbsp; Create my account now &nbsp; &nbsp; </a></p>
                        </li>
                    </ul>
                </div>
                <br/>
                <div class="text-left" style="margin-top: 54px;">
                    <p class="lead"> Already have  <span class="text-success">Account ?</span></p>
                    <ul class="list-unstyled pull-left" style="line-height: 2">
                        <li>
                            <p><a href='#login' class='btn btn-hishoppie btn-block' ng-click="scrollFunction()"> &nbsp; &nbsp; <i class="fa fa-lock"></i>  &nbsp; Login to my account &nbsp; &nbsp; &nbsp;</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
