<div ng-controller="homeController" id="home-body">  
    <!--    <div class="container" style="padding:40px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <button class="btn btn-primary btn-large" style="font-size:24px;padding: 19px 18px;">  Create free AD now </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3> or </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group">
                        <div class="input-group-addon" style="background-color: #428bca;border:0px;font-size:15px;color: #fff;"> Search Items </div>
                        <input type="search" class="form-control input-lg" name="id" id="role-filter"  ng-model="roles_filter">
                    </div>
                </div>
            </div>
        </div>--> 
    <a href="http://hishoppie.com" class="btn btn-large btn-primary pull-right" id="post-free-ad"> &nbsp; <i class="fa fa-bell"></i> &nbsp; Start advertising now ! &nbsp; <br> </a>
    <div class="wrapper"> 
        <div class="container-fluid" style="background-color: rgba(255,255,255,0.6);">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <br><br>
                        <h1 class="main-logo">
                            <!--                            <span class="glyphicon glyphicon-shopping-cart"></span>
                                                        <br> -->
                            hi<b><i class="fa fa-usd"></i></b>h<i class="fa fa-globe" id="globe"></i>ppie
                        </h1>
                        <p class="well-sm"> An Interactive interface between buyer and seller. </p>
                        <p class="icon-list">
                            <span class="fa fa-automobile" ng-click="scrollFunction()"></span>
                            <span class="fa fa-book" ng-click="scrollFunction()"></span>
                            <span class="fa fa-desktop" ng-click="scrollFunction()"></span>
                            <span class="fa fa-mobile-phone" ng-click="scrollFunction()"></span>
                            <span class="fa fa-camera" ng-click="scrollFunction()"></span>
                            <span class="fa fa-home" ng-click="scrollFunction()"></span>
                            <span class="fa fa-graduation-cap" ng-click="scrollFunction()"></span>
                            <span class="fa fa-soccer-ball-o" ng-click="scrollFunction()"></span>
                            <span class="fa fa-gift" ng-click="scrollFunction()"></span>
                        </p>
                    </div>
                </div>
            </div> 
            <div class="container" style="margin-top:10px;margin-bottom:54px;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <div class="input-group-addon item-search-addon"> Search Items </div>
                            <input type="search" class="form-control input-lg item-search" autocomplete="off" placeholder="Example : Laptop, mobile, car etc.." >
                            <div class="input-group-addon item-search-addon"> 
                                <span id="browse_location" data-toggle="modal" data-target="#select-location-modal"> 
                                    &nbsp; <i class="fa fa-map-marker"></i> Gurgaon &nbsp; <i class="fa fa-caret-down"></i> 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>